1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

2. Import the dataset chipotle.tsv

3. Assign it to a variable called chipo

In [2]:
chipo=pd.read_csv("chipotle.tsv", sep = "\t")

4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [4]:
chipo.shape

(4622, 5)

In [5]:
chipo.shape[0]

4622

In [6]:
chipo.shape[1]

5

6. What is the number of columns in the dataset?

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

7. Print the name of all the columns

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

9. Which was the most-ordered item?

In [10]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [11]:
chipo.describe(include="object")

           item_name choice_description item_price
count           4622               3376       4622
unique            50               1043         78
top     Chicken Bowl        [Diet Coke]     $8.75
freq             726                134        730

In [12]:
chipo.describe(include="all")

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [13]:
chipo[['item_name','order_id','quantity']].groupby("item_name").sum()

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [14]:
most_order=chipo[['item_name','order_id','quantity']].groupby("item_name").sum()
most_order
most_order.sort_values("quantity",ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

most_order=chipo[['choice_description','order_id','quantity']].groupby("item_name").sum()
most_order
most_order.sort_values("quantity",ascending=False).head(1)

most_order

In [15]:
most_order=chipo[['choice_description','order_id','quantity']].groupby("choice_description").sum()
most_order
most_order.sort_values("quantity",ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

11. What was the most ordered item in the choice_description column?

In [17]:
most_order=chipo[['choice_description','order_id','quantity']].groupby("choice_description").sum()
most_order
most_order.sort_values("quantity",ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

12. How many items were orderd in total?

In [18]:
chipo["quantity"].sum()

np.int64(4972)

13. Turn the item price into a float

a. Check the item price type

In [19]:
chipo["item_price"].dtype

dtype('O')

In [25]:
print(chipo["item_price"].dtype)

float64

b. Create a lambda function and change the type of item price

In [26]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:]))

TypeError: 'float' object is not subscriptable

In [24]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [27]:
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

c. Check the item price type

In [28]:
chipo["item_price"].dtype

dtype('float64')

14. How much was the revenue for the period in the dataset?

In [29]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_revenue = chipo['revenue'].sum()

In [30]:
total_revenue

np.float64(39237.02)

15. How many orders were made in the period?

1834

In [37]:
orders = chipo["order_id"].nunique()

In [38]:
orders

1834

In [43]:
chipo[chipo["order_id"]==926]

,order_id,quantity,item_name,choice_description,item_price,revenue
2304,926,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",9.25,9.25
2305,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2306,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2308,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",9.25,9.25
2309,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
2310,926,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",9.25,9.25
2311,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
2312,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",8.75,8.75
2313,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",8.75,8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",8.75,8.75
2315,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25,9.25
2316,926,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75
2317,926,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.25,9.25
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2319,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",9.25,9.25
2320,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",8.75,8.75
2321,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",8.75,8.75
2322,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",8.75,8.75
2323,926,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25,9.25
2324,926,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",8.75,8.75
2325,926,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",9.25,9.25
2326,926,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75

In [45]:
chipo['order_id'].value_counts().count()

np.int64(1834)

16. What is the average revenue amount per order?

In [39]:
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [40]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [41]:
revenue_per_order = chipo.groupby('order_id')['revenue'].sum()

average_revenue_per_order = revenue_per_order.mean()
print(average_revenue_per_order)

21.39423118865867

In [55]:
chipo.groupby(['order_id'])['revenue'].sum().mean()

np.float64(21.39423118865867)

In [56]:
chipo[['item_price','order_id','quantity']].groupby(['order_id']).mean()

          item_price  quantity
order_id
1           2.890000       1.0
2          16.980000       2.0
3           6.335000       1.0
4          10.500000       1.0
5           6.850000       1.0
...              ...       ...
1830       11.500000       1.0
1831        4.300000       1.0
1832        6.600000       1.0
1833       11.750000       1.0
1834        9.583333       1.0

[1834 rows x 2 columns]

17. How many different items are sold?

In [50]:
chipo['item_name'].value_counts().count()

np.int64(50)

In [51]:
items_sold = chipo['item_name'].nunique()
items_sold

50

18. How many products cost more than $10.00?

In [52]:
expensive_items = chipo[chipo['item_price'] > 10.00]

products = expensive_items['item_name'].nunique()
products

31

19. What is the price of each item?

In [61]:
unique_items=chipo['item_name'].nunique()

In [63]:
unique_items

50

In [73]:
chipo[['item_name','item_price']].groupby('item_name').mean()

                                       item_price
item_name
6 Pack Soft Drink                        6.610185
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.928182
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.867654
Bowl                                    14.800000
Burrito                                  7.400000
Canned Soda                              1.320577
Canned Soft Drink                        1.457641
Carnitas Bowl                           10.833971
Carnitas Burrito                        10.132712
Carnitas Crispy Tacos                   11.137143
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Chicken Salad                            9.010000
Chicken Salad Bowl                      11.170455
Chicken Soft Tacos                       9.635565
Chips                                    2.342844
Chips and Fresh Tomato Salsa             3.285091
Chips and Guacamole                      4.595073
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Tomatillo-Red Chili Salsa      2.987500
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.641111
Salad                                    7.400000
Side of Chips                            1.840594
Steak Bowl                              10.711801
Steak Burrito                           10.465842
Steak Crispy Tacos                      10.209714
Steak Salad                              8.915000
Steak Salad Bowl                        11.847931
Steak Soft Tacos                         9.746364
Veggie Bowl                             10.211647
Veggie Burrito                           9.839684
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                       10.565714

In [74]:
len(chipo[['item_name','item_price']].groupby('item_name').mean())

50

20. Sort by the name of the item

In [37]:
sorted_chipo = chipo.sort_values(by='item_name')
print(sorted_chipo[['item_name', 'quantity', 'item_price']].head(10))

              item_name  quantity item_price
3389  6 Pack Soft Drink         2    $12.98
341   6 Pack Soft Drink         1     $6.49
1849  6 Pack Soft Drink         1     $6.49
1860  6 Pack Soft Drink         1     $6.49
2713  6 Pack Soft Drink         1     $6.49
3422  6 Pack Soft Drink         1     $6.49
553   6 Pack Soft Drink         1     $6.49
1916  6 Pack Soft Drink         1     $6.49
1922  6 Pack Soft Drink         1     $6.49
1937  6 Pack Soft Drink         1     $6.49

21. What was the quantity of the most expensive item ordered?

In [75]:
if 'revenue' not in chipo.columns:
    chipo['revenue'] = chipo['quantity'] * chipo['item_price']

most_expensive_row = chipo.loc[chipo['item_price'].idxmax()]

chipo.loc[[chipo['item_price'].idxmax()]]

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

In [76]:
chipo[['quantity','item_name','item_price']].max()

quantity                     15
item_name     Veggie Soft Tacos
item_price                44.25
dtype: object

In [77]:
max(chipo['quantity'])

15

In [79]:
chipo[chipo['quantity']==chipo['quantity'].max()]

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

22. How many times was a Veggie Salad Bowl ordered?

In [39]:
count = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]
count

18

23. How many times did someone order more than one Canned Soda?

In [40]:
filtered_table = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
print(filtered_table.to_string(index=True))

      order_id  quantity    item_name choice_description item_price                   revenue
18           9         2  Canned Soda           [Sprite]     $2.18               $2.18 $2.18
51          23         2  Canned Soda     [Mountain Dew]     $2.18               $2.18 $2.18
162         73         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]     $2.18               $2.18 $2.18
350        150         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
352        151         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
698        287         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
700        288         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
909        376         2  Canned Soda     [Mountain Dew]     $2.18               $2.18 $2.18
1091       450         2  Canned Soda       [Dr. Pepper]     $2.18               $2.18 $2.18
1092       450         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
1944       787         2  Canned Soda       [Dr. Pepper]     $2.18               $2.18 $2.18
2135       859         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
2235       901         4  Canned Soda           [Sprite]     $4.36   $4.36 $4.36 $4.36 $4.36
2905      1156         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
2906      1156         2  Canned Soda           [Sprite]     $2.18               $2.18 $2.18
3152      1258         2  Canned Soda       [Dr. Pepper]     $2.18               $2.18 $2.18
3364      1349         2  Canned Soda        [Coca Cola]     $2.18               $2.18 $2.18
3592      1440         2  Canned Soda        [Diet Coke]     $2.18               $2.18 $2.18
3866      1550         2  Canned Soda     [Mountain Dew]     $2.18               $2.18 $2.18

In [41]:
count = filtered_table.shape[0]
count

20